# .env.template

# This is a template for your .env file
# Copy this file and rename it to `.env`, then fill in the actual values

# ------------------
# --- app config ---
# ------------------

APP_NAME=FastAPI

# --- JWT config ---
# Use this command to generate a SECRET_KEY: $ openssl rand -hex 32
SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# --- OTP config ---
# Use this function to generate a OTP_SECRET_KEY:
# ```from pyotp import random_base32
# print(random_base32())```
OTP_SECRET_KEY = "67XKYPCGFC47RJLZAEMDM6PIRJFWOT2P"
OTP_EXPIRE_SECONDS = 360

# --------------------
# --- email config ---
# --------------------

SMTP_SERVER=mail.example.com
SMTP_PORT=587
SMTP_USERNAME=your_email@example.com
SMTP_PASSWORD=your_email_password

# set `USE_LOCAL_FALLBACK=True` if you dont have a SMTP server.
USE_LOCAL_FALLBACK=false